{
	"AvrGcc": "D:/AVR/PS Compiler//tools/avr-gcc/bin/avr-gcc.exe",
	"AvrObjcopy": "D:/AVR/PS Compiler//tools/avr-gcc/bin/avr-objcopy.exe",
	"AvrSize": "D:/AVR/PS Compiler//tools/avr-gcc/bin/avr-size.exe",
	"AvrDude": "D:/AVR/PS Compiler//tools/avrdude/avrdude.exe"
}