{
	"AvrGcc": "C:/path/to/avr-gcc/bin/avr-gcc.exe",
	"AvrObjcopy": "C:/path/to/avr-gcc/bin/avr-objcopy.exe",
	"AvrSize": "C:/path/to/avr-gcc/bin/avr-size.exe",
	"Avrdude": "C:/path/to/avrdude/avrdude.exe"
}